html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button{
    width: 50%;
    height: 50%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border: #fff 2px solid;
}

#answer1{
    background-color: #4CAF50;
}
#answer2{
    background-color: #f94a1e;
}
#answer3{
    background-color: #3399ff;
}
#answer4{
    background-color: #ff9933;
}

.stats{
    padding: 0px 10px;
    flex-grow: 0;
}

.buttons{
    flex-grow: 1;
    display: none;
}

#message{
    text-align: center;
    font-size: 35px;
    display: none;
}