body {
    padding: 0 10px;
}

.question-field{
    border-style: groove;
    border-width: 1px;
    padding: 0 10px;
    font-family: inherit;
    margin: 10px 0;
}

.question-field div {
    margin: 10px 0;
}

.question-field input {
    margin-right: 10px;
}

.question{
    width: 410px;
}

.correct{
    width: 100px;
}

.time{
    width: 100px;
}

#title{
    text-align: center;
}

button {
    margin: 10px 0;
}